Ejercicio2musica.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT musica (artistas, canciones, nacionalidad)*>

<!ELEMENT artistas (nombre, fecha, nacionalidad)*>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>

<!ELEMENT canciones (nombre, duraci贸n, artista)*>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT duraci贸n (#PCDATA)>
<!ELEMENT artista (#PCDATA)>

<!ELEMENT nacionalidades (nombre, c贸digo)*>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT c贸digo (#PCDATA)>
